<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--是否开机自动启动-->
    <add key="autoStart" value="false"/>
    <!--面板关闭方式(isMin：表示最小化到系统托盘；isClose:表示退出程序)-->
    <add key="closeMode" value="isMin"/>
    <!--图片分辨率-->
    <add key="picSize" value="default"/>
    <!--图片下载目录-->
    <add key="downloadPath" value=""/>
    <!--图片缓存目录-->
    <add key="cachePath" value=""/>
    <!--是否自动切换壁纸-->
    <add key="isSwitchWallpaper" value="true"/>
    <!--壁纸切换间隔时间（单位：秒）-->
    <add key="interValTime" value="30"/>
    <!--壁纸切换类型集合-->
    <add key="switchWallpaperTypes" value=""/>
    <!--系统背景色-->
    <add key="backColor" value=""/>
    <!--透明度-->
    <add key="opacity" value="1"/>
  </appSettings>
</configuration>